.*
!.gitignore
raw/
__pycache__/
*_evaluator_*
server_*
!server_windows*

# LaTeX auxiliary files (excluding .tex and .pdf)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*.lol
*.idx
*.ind
*.ilg
*.nlo
*.nls
*.dvi
*.ps
*.xdv
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc0
*.thm
*.loe
*.brf
*.cb
*.cb2
*.def
*.ptc
*.spl
*.tdo
*-blx.bib
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
*.sout
*.wrt
*.hd
*.synctex(busy)
_region_.*
*.mw
*.sta
*.upa
*.upb

*images.tar
SHA*